.hero__slide {
  background-size: cover;
  background-position: 100% 0%;
  // Gold big hoops
  color: white;
  font-size: 12px;
  height: 300px;
  border-radius: 8px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 20px;
  word-wrap: break-word;


  display: flex;
  align-items: end;

  &--01 {
    background-image: url("../img/hero_slides/01.jpg");
  }

  &--02 {
    background-image: url("../img/hero_slides/02.jpg");
  }

  &--03 {
    background-image: url("../img/hero_slides/03.jpg");
  }

  &--04 {
    background-image: url("../img/hero_slides/04.jpg");
  }

  @media (min-width: $tablet-size) {
    height: 357px;
    border-radius: 16px;

    display: flex;
    align-items: center;
  }

  @media (min-width: 1000px) {
    height: 480px;
  }
  @media (min-width: $laptop-size) {
    height: 646px;
  }
}
.slide-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  padding: 0px 8px 26px 8px;
  @media (min-width: $tablet-size) {
    padding: 0px 36px 0px 36px;
  }
}

.hero__slide-title {
  font-size: 20px;
  margin-bottom: 3px;
  line-height: 26px;
  @media (min-width: $tablet-size) {
    font-size: 33px;
    margin-bottom: 16px;
    line-height: 43px;
  }
}

.hero__slide-price {
  @media (min-width: $tablet-size) {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 134.615% */
  }
}

.hero__slide-btn {
  width: 97px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #fff;
  margin-top: 12px;
  @media (min-width: $tablet-size) {
    width: 195px;
    padding: 13px 31px;
    border-radius: 6px;
    border: 2px solid #fff;
    margin-top: 48px;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.hero__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $tablet-size) {
    gap: 4px;
  }
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: #fff;
  opacity: 1;
  &-active {
    width: 7px;
    height: 7px;
    background-color: transparent;
    border: 1px solid #fff;
  }
  @media (min-width: $tablet-size) {
    width: 9px;
    height: 9px;
    &-active {
      width: 16px;
      height: 16px;
    }
  }
}

.hero-slider{
  border-radius: 8px;
  @media (min-width: $tablet-size) {
    border-radius: 16px;
  }
}