.privacy-policy-sec {
  padding-top: 39px;
  max-width: 670px;
  margin: 0 auto;
}

.privacy-policy-sec__content {
  display: grid;
  gap: 22px;
  @media (min-width: $tablet-size) {
    gap: 39px;
  }
}

.privacy-title {
  margin-bottom: 39px;
}

.security,
.cookies {
  display: grid;
  gap: 13px;
  @media (min-width: $tablet-size) {
    gap: 34px;
  }
}

.cookies-list {
  display: grid;
  gap: 10px;
  @media (min-width: $tablet-size) {
    font-size: 16px;
    font-style: normal;

    line-height: 27px;
  }
}
